[Desktop Entry]
Name=GPGMan
GenericName=GPG Key Manager & Crypto Tool
Comment=Manage GPG keys, encrypt & decrypt messages and files, and sign & verify digital signatures
Exec=gpgman %F
Icon=gpgman-icon
Terminal=false
Type=Application
MimeType=application/pgp-keys;application/pgp-encrypted;application/pgp-signature;application/pgp;
Categories=Utility;Security;System;GTK;
StartupNotify=true
StartupWMClass=org.gpgman.GpgMan
Keywords=GPG;PGP;Cryptography;Encryption;Signature;Keyring;GTK4;
